# The first 3 rules below cause every file without an extension to be ignored
# Ignore everything
*

# Unignore all directories, including subdirectories
!/**/

# Unignore all files with extensions
!*.*

# Unignore files without an extension in these directories
!.github/**
!bin/**
!scripts/**

# Ignore Windows executables
*.exe

# Ignore IDE files
.vscode/

# Ignore temporary repos
tests/.test_elixir_track_repo/
tests/.test_nim_track_repo/

# Ignore user-specific Nimble files
nimble.develop
nimble.paths
