name: Build

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: linux
            arch: 64bit
          - os: mac
            arch: 64bit
          - os: windows
            arch: 64bit
        include:
          - target:
              os: linux
            builder: ubuntu-20.04
          - target:
              os: mac
            builder: macos-11
          - target:
              os: windows
            builder: windows-2019

    name: "${{ matrix.target.os }}-${{ matrix.target.arch }}"
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout code
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Install Nim
        uses: jiro4989/setup-nim-action@4b47886d490dc4c938d92705839eed96d129a3fd
        with:
          nim-version: "1.6.4"

      - name: Install musl on Linux
        if: matrix.target.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Build binary
        shell: bash
        run: ./.github/bin/build

      - name: Create artifact
        shell: bash
        run: ./.github/bin/create-artifact
        env:
          OS: ${{ matrix.target.os }}
          ARCH: ${{ matrix.target.arch }}

      - name: Publish release
        shell: bash
        run: ./.github/bin/publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REF: ${{ github.ref }}

  checksums:
    needs: [build]
    runs-on: ubuntu-20.04
    name: Upload checksums file
    steps:
      - name: Checkout code
        uses: actions/checkout@a12a3943b4bdde767164f792f33f40b04645d846

      - name: Upload checksums file
        run: ./.github/bin/upload-checksums-file
