name: Build

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-22.04
            arch: 64bit

          - os: mac
            runs-on: macos-12
            arch: 64bit

          - os: windows
            runs-on: windows-2022
            arch: 64bit

    name: "${{ matrix.os }}-${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          fetch-depth: 0 # Allows using `git log` to set initial release notes.

      - name: On Linux, install musl
        if: matrix.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Install Nim
        uses: iffy/install-nim@1ab2fcc1d8294b3956d5696f45cd470c9fe69466
        with:
          version: "binary:1.6.8"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Build binary
        shell: bash
        run: ./.github/bin/build

      - name: Create artifact
        shell: bash
        run: ./.github/bin/create-artifact
        env:
          OS: ${{ matrix.os }}
          ARCH: ${{ matrix.arch }}

      - name: Publish release
        shell: bash
        run: ./.github/bin/publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  checksums:
    needs: [build]
    runs-on: ubuntu-22.04
    name: Upload checksums file
    steps:
      - name: Checkout code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: Upload checksums file
        run: ./.github/bin/upload-checksums-file
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
