name: Build

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: linux
            arch: 64bit
          - os: mac
            arch: 64bit
          - os: windows
            arch: 64bit
        include:
          - target:
              os: linux
            builder: ubuntu-20.04
          - target:
              os: mac
            builder: macos-11
          - target:
              os: windows
            builder: windows-2019

    name: "${{ matrix.target.os }}-${{ matrix.target.arch }}"
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout code
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4

      - name: Install Nim
        uses: jiro4989/setup-nim-action@40a8277c7ff27eb52257ed9a40dbf5a661539701 # 1.3.13
        with:
          nim-version: "1.6.0"

      - name: Install musl on Linux
        if: matrix.target.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Build binary
        shell: bash
        run: ./.github/bin/build

      - name: Create artifact
        shell: bash
        run: ./.github/bin/create-artifact
        env:
          OS: ${{ matrix.target.os }}
          ARCH: ${{ matrix.target.arch }}

      - name: Publish release
        shell: bash
        run: ./.github/bin/publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REF: ${{ github.ref }}
