name: Build

on:
  push:
    branches: [master]
    # paths: ["**.nim"]
  pull_request:
    branches: [master]
    # paths: ["**.nim"]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: linux
            arch: 64-bit
          # - os: macosx
          #   arch: 64-bit
          - os: windows
            arch: 64-bit
        include:
          - target:
              os: linux
            builder: ubuntu-18.04
          # - target:
          #     os: macosx
          #   builder: macos-10.15
          - target:
              os: windows
            builder: windows-2019

    name: "${{ matrix.target.os }}-${{ matrix.target.arch }}"
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Nim
        uses: jiro4989/setup-nim-action@v1
        with:
          nim-version: "1.2.6"

      - name: Build binary
        shell: bash
        run: ./.github/bin/build
        env:
          OS: ${{ matrix.target.os }}
          ARCH: ${{ matrix.target.arch }}

      - name: Create artifact
        shell: bash
        run: ./.github/bin/create-artifact
        env:
          OS: ${{ matrix.target.os }}
          ARCH: ${{ matrix.target.arch }}

      - name: Publish release
        run: ./.github/bin/publish-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
