name: Fetch configlet

on:
  push:
    paths:
      - scripts/fetch-configlet*
  pull_request:
    paths:
      - scripts/fetch-configlet*
  workflow_dispatch:

jobs:
  fetch_configlet:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-22.04

          - os: macos
            runs-on: macos-12

          - os: windows
            runs-on: windows-2022

    name: fetch-configlet-${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29

      - name: Run fetch-configlet
        shell: bash
        run: ./scripts/fetch-configlet
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run the downloaded configlet
        env:
          EXT: ${{ matrix.os == 'windows' && '.exe' || '' }}
        shell: bash
        run: |
          configlet_path="./bin/configlet${EXT}"
          "${configlet_path}" --version

      - name: On Windows, also test fetch-configlet.ps1
        if: matrix.os == 'windows'
        shell: pwsh
        run: |
          Remove-Item bin/configlet.exe
          scripts/fetch-configlet.ps1
          bin/configlet.exe --version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
