name: Lint whitespace

on: [push, pull_request, workflow_dispatch]

jobs:
  lint_whitespace:
    name: Lint whitespace
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Check that every file has no trailing whitespace, and exactly one final newline
        run: ./.github/bin/lint-whitespace
