name: markdownlint

on: [push, pull_request, workflow_dispatch]

jobs:
  markdownlint:
    name: Lint markdown files
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@05f32210e84442804257b2a6f20b273450ec8265
        with:
          globs: "**/*.md"
