name: tests

on:
  push:
    paths:
      - "**"
      - "!**.md"
  pull_request:
    paths:
      - "**"
      - "!**.md"
  workflow_dispatch:

jobs:
  all_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-22.04
            arch: x86-64

          - os: macos
            runs-on: macos-12
            arch: x86-64

          - os: windows
            runs-on: windows-2022
            arch: x86-64

    name: "${{ matrix.os }}-${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    permissions:
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9

      - name: On Linux, install musl
        if: matrix.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Install Nim
        uses: iffy/install-nim@bea090a732f3e1918187bac8dd05ab1ab87a569f
        with:
          version: "binary:1.6.12"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install our Nimble dependencies
        run: nimble --accept install --depsOnly

      - name: Run our test suite
        run: nimble test
