name: tests

on:
  push:
    paths:
      - "**"
      - "!**.md"
  pull_request:
    paths:
      - "**"
      - "!**.md"
  workflow_dispatch:

jobs:
  all_tests:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: linux
            runs-on: ubuntu-22.04
            arch: 64bit

          - os: macos
            runs-on: macos-12
            arch: 64bit

          - os: windows
            runs-on: windows-2022
            arch: 64bit

    name: "${{ matrix.os }}-${{ matrix.arch }}"
    runs-on: ${{ matrix.runs-on }}
    steps:
      - name: Checkout code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: On Linux, install musl
        if: matrix.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Install Nim
        uses: iffy/install-nim@1ab2fcc1d8294b3956d5696f45cd470c9fe69466
        with:
          version: "binary:1.6.8"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install our Nimble dependencies
        run: nimble --accept install --depsOnly

      - name: Run our test suite
        run: nimble test
