name: tests

on:
  push:
    paths:
      - "**"
      - "!**.md"
  pull_request:
    paths:
      - "**"
      - "!**.md"
  workflow_dispatch:

jobs:
  all_tests:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: linux
            arch: 64bit
          - os: mac
            arch: 64bit
          - os: windows
            arch: 64bit
        include:
          - target:
              os: linux
            builder: ubuntu-20.04
          - target:
              os: mac
            builder: macos-10.15
          - target:
              os: windows
            builder: windows-2019

    name: "${{ matrix.target.os }}-${{ matrix.target.arch }}"
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout code
        uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f # 2.3.4

      - name: Install Nim
        uses: jiro4989/setup-nim-action@d0c07f7ad4ed045c29cfcffbc1402643f8147184 # 1.3.2
        with:
          nim-version: "1.4.4"

      - name: Install musl on Linux
        if: matrix.target.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Install our Nimble dependencies
        run: nimble --accept install --depsOnly

      - name: Run `tests/all_tests.nim`
        run: nim c --styleCheck:error -r ./tests/all_tests.nim
