name: tests

on:
  push:
    paths:
      - "**"
      - "!**.md"
  pull_request:
    paths:
      - "**"
      - "!**.md"
  workflow_dispatch:

jobs:
  all_tests:
    strategy:
      fail-fast: false
      matrix:
        target:
          - os: linux
            arch: 64bit
          - os: mac
            arch: 64bit
          - os: windows
            arch: 64bit
        include:
          - target:
              os: linux
            builder: ubuntu-22.04
          - target:
              os: mac
            builder: macos-12
          - target:
              os: windows
            builder: windows-2022

    name: "${{ matrix.target.os }}-${{ matrix.target.arch }}"
    runs-on: ${{ matrix.builder }}
    steps:
      - name: Checkout code
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8

      - name: On Linux, install musl
        if: matrix.target.os == 'linux'
        run: ./.github/bin/linux-install-build-tools

      - name: Install Nim
        uses: iffy/install-nim@7efc1c47b112336664753ebbe81036490e52e4b7
        with:
          version: "binary:1.6.8"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install our Nimble dependencies
        run: nimble --accept install --depsOnly

      - name: Run our test suite
        run: nimble test
